body{
    background-color: #f3f1ff;
    margin: 0;
}
/* reusable components */
a{
  text-decoration: none;
}
img{
  width: 100%;
  height: auto;
}
.container{
  background-color: white;
}
header{
  margin-bottom: 40px;
}
.navbar img{
    width: 51px;
    height: 51px;
}
.navbar-nav .nav-item:hover .nav-link{
  color: red!important;
}
.navbar-nav .nav-item .nav-link.active{
  color: black!important;
}
/* .home{
  margin-top: 13px;
} */
.home a{
  color: white;
}
.blog_thumb{
  width: 160px;
  height: 115px;
  overflow: hidden;
}
.blog_content{
  margin-bottom: 23px;
}
.blog_content h5{
  margin-bottom: 0px!important;
}
.border_bottom {
  border-bottom: 2px solid rgb(163, 158, 158);
  margin: 0px 20px;
}
.player img{
  width: 56px;
}
/* .Blog img{
  width: 177px;
  height: 117px;
} */
.border{
  border: none;
}
.lates p{
  color: #FB7053;
}
.rating_star .active{
  color: #FF9529;
}
.rating_star .unactive{
  color: #84848a;
}
.time_count{
  max-width: 104px;
  background-color: #FFE4E8;
}
.time_count i{
  color: #FF4A60;
}
.time_num span{
  color: #FF4A60;
}

